Temp/workerlic
Temp/UnityLockfile
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/AssetImportWorker0.log
Logs/AssetImportWorker0-prev.log
Library/SourceAssetDB
Library/ArtifactDB
Library/ArtifactDB
Library/EditorInstance.json
Library/SourceAssetDB
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
*.log
Library/ArtifactDB
Library/SourceAssetDB
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
*.dwlt
*.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Library/SourceAssetDB
Library/CurrentLayout-default.dwlt
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/AssetImportWorker0-prev.log
Library/SourceAssetDB
Library/ArtifactDB
*.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Library/SourceAssetDB
Library/CurrentLayout-default.dwlt
Library/ArtifactDB
Library/SourceAssetDB
Library/CurrentLayout-default.dwlt
Library/ArtifactDB
Library/SourceAssetDB
Library/CurrentLayout-default.dwlt
Library/ArtifactDB
