Temp/workerlic
Temp/UnityLockfile
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/AssetImportWorker0.log
Logs/AssetImportWorker0-prev.log
Library/SourceAssetDB
Library/ArtifactDB
Library/ArtifactDB
Library/EditorInstance.json
Library/SourceAssetDB
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
*.log
Library/ArtifactDB
Library/SourceAssetDB
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
*.dwlt
*.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Library/SourceAssetDB
Library/CurrentLayout-default.dwlt
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/AssetImportWorker0-prev.log
Library/SourceAssetDB
Library/ArtifactDB
*.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Library/SourceAssetDB
Library/CurrentLayout-default.dwlt
Library/ArtifactDB
Library/SourceAssetDB
Library/CurrentLayout-default.dwlt
Library/ArtifactDB
Library/SourceAssetDB
Library/CurrentLayout-default.dwlt
Library/ArtifactDB
Library/expandedItems
Library/SceneVisibilityState.asset
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/SourceAssetDB
Library/StateCache/MainStageHierarchy/2d/2dc4b505c1d80e9bf7125888cbb37f12.json
Library/StateCache/SceneView/fe/fefa414a265c9917d69c4017ad45b070.json
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Temp/__Backupscenes/0.backup
Temp/Assembly-CSharp.dll.hash
Temp/CompilationLog.txt
Temp/UnityTempFile-48b539625ec27a645afc326d265a8eae
Temp/UnityTempFile-4b4ff3cfa05760c428b8359d88086079
Temp/UnityTempFile-555547c036c8c454fa658c1692a28e54
Temp/UnityTempFile-56ad23a0d94b73040915d2cb274c9b40
Temp/UnityTempFile-599df20e2999699479980ee489cd7b25
Temp/UnityTempFile-5cf98d4ae55d9ff44bf1ca2f89dc461b
Temp/UnityTempFile-73d5cc01746d1914c8fc24bc31cd140a
Temp/UnityTempFile-75bc09b3adc292e4ca79d92336011f42
Temp/UnityTempFile-8c2e13f64b953d84097da93241ad4fcd
Temp/UnityTempFile-8cbded8ffd5687546bbb735005d873d1
Temp/UnityTempFile-8fc4555fe1e5fc54e92562a128aa859d
Temp/UnityTempFile-a0c40bcdc0aad2d489bcaa46ca21d751
Temp/UnityTempFile-be37ffd4740b1da4bbff84d1b8751629
Temp/UnityTempFile-d156363078832d040b830f0ccfdb0270
Temp/UnityTempFile-dc5586ac60825054e99f5a0a40bb8943
Temp/UnityTempFile-e92f0dcbddf1c9b40a8a0057de2e78ae
Library/ArtifactDB
Library/Artifacts/13/131250ee48a60bd3fb1c49878358a21b
Library/Artifacts/42/4212da82ed6c0e7a908930eec8637e2f
Library/Artifacts/44/446ee2f6c9c00ea727e7b9d21a2c1c12
Library/Artifacts/5d/5d5c403e6caa037fe5bf26bcb1828f8a
Library/Artifacts/e4/e4c5c228b7c857db0eb9bdc683e79ef8
Library/Artifacts/ed/ed742fca346a6722da65dec61629d665
